
@{

    ViewBag.Title = "Registration Success";
}
@model InternetBankingManagementSystem.Models.UserRegistrationModel
<h2>Registration Successful</h2>

<p>Congratulations! Your registration was successful.</p>