
@{
    ViewBag.Title = "Dashboard";
}
<h2>Welcome to the Dashboard!</h2>
<p>You have successfully logged in.</p>


@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}

@* You can add more content specific to the logged-in user here *@
